<ActionBar title="Social Restaurant" flat="true" class="actionBarStyle" text="Nuevo" android.position="actionBar">
	<ActionItem ios.position="right" text="Nuevo" (tap)="newRestaurant()" android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout>
  <ListView [items]="items">
    <ng-template let-item="item">
      <GridLayout columns="*, 2*" rows="2*, 3*" [nsRouterLink]="['/item', item.id]">
      	<image src="{{ item.image }}" stretch="aspectFill" class="imageItemList"></image>
      	<StackLayout row="0" col="1">
  			  <label text="{{ item.name }}" class="titleStyle"></label>
          <label text="{{ item.description }}" class="subtitleStyle"></label>
          <label text="{{ item.address }}" class="subtitleStyle"></label>
      	</StackLayout>
      </GridLayout>
    </ng-template>
  </ListView>
</GridLayout>
